.root {

    --font: slategrey;
    --background: wheat;
    --menuColor: slategrey;
}



body {
    width: auto;
    background-image: url('images/birthday.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}

.navBar a{
    right: 200px;
    text-decoration: none;
    color: white;
}
.navBar ul li title{
    background-color: blue;
}

img {
    margin: 10px;
}

i {
    font-size: 20px;
}

i:hover,
a:hover {
    color: dodgerblue;
    cursor: pointer;
}

.navBar nav li {
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    display: inline-block;
}


#hamMenu {
    visibility: hidden;
}



.header {
    width: 80%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-rows: 1fr;
}

.header>div {
    margin-top: 10%;
    max-width: 100%;

}

.IntroMsg {
    margin: 20px;
    position: relative;
    width: 100%;
    left: 5%;
    top: -20%;
    text-align: center;
    padding: 10px;
    height: auto;
    opacity: 0.9;
    background-color: transparent;
    border-radius: 10px;

}
.IntroMsg h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;

    font-size: 2.2vw;
    font-weight: 500;
    color:white;
  }
.IntroMsg span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;

    font-size: 1.5vw;
    font-weight: 500;
    color:white;
}
.logo {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    width: 200px;
    height: 200px;
}



.story {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.imgContainer {
    width: 100%;
    height: 100%;
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;


}

.imgContainer>div {
    margin: 10px;
}

.menuIntro>img {
    width: 75%;
    border-radius: 10%;
    height: auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    filter: blur(0.5px);
}

.menuIntro {
    text-align: center;
    color: rgb(39, 39, 39);
    border-radius: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.why-card{
    display: grid;
    grid-template-columns:(2, 2fr);
    align-items: center;
    gap: 9em 10em;
  }
  
  .why-img img{
    margin-top: 200px;
    width: 598px;
    height: 720px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  }
  .why-text{

  margin-top: -900px;
  margin-left: 700px;
  }
  
  .why-text h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
  }
  
  .why-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: var(p);
    font-weight: 800;
    line-height: 30px;
    color:black;
    margin-bottom: 30px;
  }
@media only screen and (max-width: 600px) {

    .menu,
    .form {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        position: relative;
        top: -5%;

    }

    .logo {
        width: 200px;
        height: 200px;
    }

    html {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2,
    h1 {
        font-size: 18px;
    }

    .navBar,
    .navBar nav li {
        width: 100%;
        height: 100%;
        display: block;
    }  

    #hamMenu {
        visibility: visible;
        color: white;
        font-size: 25px;    
        z-index: -1;
    }

}


.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    left: 0%;
    top: 40px;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: rgba(100, 98, 98, 0.288);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    opacity: 0.9;
    margin: 10px;

}

.form span {
    margin: 10px;
}

.form button {
    width: 40%;
    position: relative;
    left: 2%;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-shadow: 0.5px 0.5px black;
    background-color: rgb(109, 103, 93);
    padding: 10px;
}

.form button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 6px slategray;
}

.form button:active {
    background-color: rgba(30, 96, 161, 0.801);
    border: none;
}

#home-menu ul {
    width: 60%;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
}

#home-menu h2 {
    margin-top: -100px;
    text-shadow: 0.5px 0.5px black;
}

#home-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

#home-menu li {
    float: left;
    width: 50%;
    padding: 0;
    margin: 20px 0 20px 8%;
    border-bottom: 1px solid slategray;
}
.dish {
    float: left;
    color: #555;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-right: 15px;
}

.Price {
    float: right;
    color: #555;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    padding-left: 15px;
}

.Description {
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    position: relative;
    top: -8px;
}


.logo {
    animation: windowsFly ease-out 3s;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 4px rgb(255, 255, 255), 0.3em 0.3em 4em rgba(0, 0, 0, 0.3);
}

/*  image animation for resturant*/

@keyframes windowsFly {
    0% {
        filter: blur(10px);
        opacity: 0;
        width: 0px;

    }

    50% {
        filter: blur(5px);
        opacity: 0.5;
        width: 50%;
    }

    100% {
        opacity: 1;
    }
}